MONGO_URI=mongodb+srv://jenniferfredson175_db_user:Clarck3223@platform.0hnpxgu.mongodb.net/?appName=platform
MONGO_DB_NAME=platform
DATABASE_URL=mongodb+srv://jenniferfredson175_db_user:Clarck3223@platform.0hnpxgu.mongodb.net/?appName=platform
VITE_MONGO_URI=mongodb+srv://jenniferfredson175_db_user:Clarck3223@platform.0hnpxgu.mongodb.net/?appName=platform
VITE_DATABASE_URL=mongodb+srv://jenniferfredson175_db_user:Clarck3223@platform.0hnpxgu.mongodb.net/?appName=platform
VITE_MONGO_DB_NAME=platform
MONGO_DB_NAME=test
PORT=4000
